.contact-block
  %h2#contact.section-title Contact

.contact-form-container
  .container
    .contact-form-row
      .section-column.text
        .contact-text-container
          .contact-paragraph
            While I'm not actively seeking new projects at the moment, I'm always open to hearing about new and
            exciting ideas. If you have a project in mind and think we would make a good team, or if you just want
            to say hello, please feel free to drop me a line!

      .section-column.inputs
        = form_for :message, url: send_message_path, method: :post, html: { role: 'form', id: 'contact-form' } do |f|
          = f.label(:human, "If you're a human, leave this unchecked", style: "display: none")
          = f.check_box(:human, style: "display: none")
          .form-group
            = f.text_field :name, class: "form-control", placeholder: "Name"
            .name-error.error-message
          .form-group
            = f.text_field :email, class: "form-control", placeholder: "Email"
            .email-error.error-message
          .form-group
            = f.text_area :content, class: "form-control", placeholder: "Your message goes here..."
            .content-error.error-message
          .button-container
            = submit_tag "Submit", class: "btn contact-form-submit"
            .message-success


.footer-block
  .text-fill
    %span.text-background Buzzwords • Grunt • Android Studio • JavaScript • Objective-C • jQuery • haml • |
    HTML5 • PHOTOSHOP • Xcode • SCSS • JUnit • ANGULAR.JS • RUBY • Spring • RAILS • C++(just kidding) • LESS • git • |
    PHP • WORDPRESS • Rocket League • Java • SWIG • Compass • Sketch • Selenium • BUZZWORDS • COFFEESCRIPT  • |
    Buzzwords • Grunt • Android Studio • JavaScript • Objective-C • IntelliJ • jQuery • BUZZWORDS • haml • HTML5 • PHOTOSHOP • |
    Xcode • SCSS • JUnit • ANGULAR.JS • RUBY • Spring • RAILS • C++(just kidding) • LESS • git • PHP • WORDPRESS • |
    Java • SWIG • Compass • Sketch • Selenium • BUZZWORDS • COFFEESCRIPT  •
  .contact-content.container
    .icon-row
      .email-container
        = mail_to "annabel.dunstone@gmail.com"
        .underline
      .icon-container
        = link_to "https://www.linkedin.com/in/annabeldunstone", target: "_blank" do
          %img.contact-icon.linkedin{:src => asset_path("linkedin.png")}
        = link_to "https://github.com/annabeldunstone", target: "_blank" do
          %img.contact-icon.github{:src => asset_path("github.png")}
        -#%a{href: 'https://bitbucket.org/annabeldunstone'}
        -#  %img.contact-icon.bitbucket{:src => asset_path("bitbucket.png")}
        = link_to "https://instagram.com/annabeldunstone/", target: "_blank" do
          %img.contact-icon.instagram{:src => asset_path("instagram.png")}
        = link_to "https://dribbble.com/annabeldunstone", target: "_blank" do
          %img.contact-icon.dribbble{:src => asset_path("dribbble.png")}
        = link_to "http://www.goodreads.com/user/show/29443888-annabel-dunstone", target: "_blank" do
          %img.contact-icon.goodreads{:src => asset_path("goodreads.png")}