.work-block
  %h2#work.section-title Recent Work
  .triangle

  .container-fluid
    .row
      .col-md-12.project-column.flo
        %a{href: 'https://flomusic.com', :target=> '_blank'}
        = image_tag "flo.png"
      .col-md-12.project-column.masterlock
        %a{href: 'https://secondsource.herokuapp.com', :target=> '_blank'}
        = image_tag "masterlock.png", class: "masterlock-image"
      .col-md-12.project-column.mycareer
        %a{href: 'http://www.chicagotribune.com/bluesky/originals/chi-exelon-mycareer-app-bsi-20141224-story.html', :target=> '_blank'}
        = image_tag "mycareer.png"
      .col-md-12.project-column.scorpioncf
        %a{href: 'https://scorpioncrossfit.net', :target=> '_blank'}
        = image_tag "scorpioncf.png"
      .col-md-12.project-column.akta
        %a{href: 'https://akta.com', :target => '_blank'}
        = image_tag "akta.png"
      .col-md-12.project-column.secondsource
        %a{href: 'https://secondsource.herokuapp.com', :target=> '_blank'}
        = image_tag "secondsource.png"
