- provide(:title, "Books")
.headline-books
  .container
    .section-title
      .text-column
        .header Books
        .text
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua. Inspired by https://www.gatesnotes.com/Books. Explain star rating

.container
  .row.clearfix
    .books-column
      .book
        = image_tag "books/city-of-thieves.jpg"
        .book-rating 5/5
        .date December 25, 2016
    .books-column
      .book
        = image_tag "books/his-bloody-project.jpg"
        .book-rating 4/5
        .date December 25, 2016
    .books-column
      .book
        = image_tag "books/lean-in.jpg"
        .book-rating 3/5
        .date December 25, 2016
    .books-column
      .book
        = image_tag "books/bird-box.jpg"
        .book-rating 3/5
        .date December 25, 2016
    .books-column
      .book
        = image_tag "books/on-writing.jpg"
        .book-rating 5/5
        .date December 25, 2016
    .books-column
      .book
        = image_tag "books/you-will-know-me.jpg"
        .book-rating 2/5
        .date December 25, 2016
    .books-column
      .book
        = image_tag "books/shoe-dog.jpg"
        .book-rating 4/5
        .date December 25, 2016
    .books-column
      .book
        = image_tag "books/we-were-liars.jpg"
        .book-rating 2/5
        .date December 25, 2016
