- provide(:title, "Books")
.headline-books
  .container
    .section-title
      .text-column
        .header Books
        .text
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua. Inspired by https://www.gatesnotes.com/Books. Explain star rating

.container
  .row.clearfix
    .books-column
      .book
        = image_tag "books/city-of-thieves.jpg"
        .book-title City of Thieves
        .book-author David Benioff
        .book-rating 5/5
        .date December 25, 2016
    .books-column
      .book
        = image_tag "books/his-bloody-project.jpg"
        .book-title His Bloody Project
        .book-author Graeme Macrae Burnet
        .book-rating 4/5
        .date December 25, 2016
    .books-column
      .book
        = image_tag "books/lean-in.jpg"
        .book-title Lean In
        .book-author Sheryl Sandberg
        .book-rating 3/5
        .date December 25, 2016
    .books-column
      .book
        = image_tag "books/bird-box.jpg"
        .book-title Bird Box
        .book-author Josh Malerman
        .book-rating 3/5
        .date December 25, 2016
    .books-column
      .book
        = image_tag "books/on-writing.jpg"
        .book-title On Writing: a Memoir of the Craft
        .book-author Stephen King
        .book-rating 5/5
        .date December 25, 2016
    .books-column
      .book
        = image_tag "books/you-will-know-me.jpg"
        .book-title You Will Know Me
        .book-author Megan Abbott
        .book-rating 2/5
        .date December 25, 2016
    .books-column
      .book
        = image_tag "books/shoe-dog.jpg"
        .book-title Shoe Dog: a Memoir by the Creator of NIKE
        .book-author Phil Knight
        .book-rating 4/5
        .date December 25, 2016
    .books-column
      .book
        = image_tag "books/we-were-liars.jpg"
        .book-title We Were Liars
        .book-author E. Lockhart
        .book-rating 2/5
        .date December 25, 2016
