- provide(:title, "Contact")
.headline-contact
  .container
    .section-title
      .text-column
        .header Get in touch!
        .text
          While I'm not actively seeking new projects at the moment, I'm always open to hearing about new and
          exciting ideas. If you have a project in mind and think we would make a good team, or if you just want
          to say hello, please feel free to drop me a line!

.container
  .contact-form-row
    .inputs-column
      = form_for :message, url: send_message_path, method: :post, html: { role: 'form', id: 'contact-form' } do |f|
        = f.label(:human, "If you're a human, leave this unchecked", style: "display: none")
        = f.check_box(:human, style: "display: none")
        .form-group
          = f.text_field :name, class: "form-control", placeholder: "Name"
          .name-error.error-message
        .form-group
          = f.text_field :email, class: "form-control", placeholder: "Email"
          .email-error.error-message
        .form-group
          = f.text_area :content, class: "form-control", placeholder: "Your message goes here..."
          .content-error.error-message
        .button-container
          = submit_tag "Submit", class: "btn contact-form-submit"
          .message-success
