#index.container-fluid
  .index-row
    .computer
      = image_tag "imac-cartoon-edit.png"
    .text
      .name
        .first Annabel
        .last Dunstone
      .title Web Developer




%a.glyphicon.glyphicon-chevron-down.down-button{href: '#about'}

= render "partials/about"

= render "partials/work"

= render "partials/photography"

= render "partials/contact"


