#index
  .index-row
    .computer
      = image_tag "me.png"
    .text
      .name Annabel Dunstone Gray
      .title.developer
        = link_to "Frontend Engineer", work_path
      .title.designer
        = link_to "Occasional Designer", work_path
      .title.photographer
        = link_to "Amateur Photographer", photography_path
      .title.baker Experimental Baker
      / = link_to books_path do
      .title.reader
        = link_to "Avid Reader", "http://www.goodreads.com/annabelgray", target: "_blank"
