- provide(:title, "Photography")
.container
  #lightgallery
    .image-row
      = link_to image_path('photography/structure1.jpg') do
        = image_tag('photography/structure1.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/westonsupermare1.jpg') do
        = image_tag('photography/westonsupermare1.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/westonsupermare3.jpg') do
        = image_tag('photography/westonsupermare3.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/balea6.jpg') do
        = image_tag('photography/balea6.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/light2.jpg') do
        = image_tag('photography/light2.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/structure3.jpg') do
        = image_tag('photography/structure3.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/chair.jpg') do
        = image_tag('photography/chair.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/lockhart5.jpg') do
        = image_tag('photography/lockhart5.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/grammy1.jpg') do
        = image_tag('photography/grammy1.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/gasstation.jpg') do
        = image_tag('photography/gasstation.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/balea2.jpg') do
        = image_tag('photography/balea2.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/saddle.jpg') do
        = image_tag('photography/saddle.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/westonsupermare2.jpg') do
        = image_tag('photography/westonsupermare2.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/structure4.jpg') do
        = image_tag('photography/structure4.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/light1.jpg') do
        = image_tag('photography/light1.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/grammy2.jpg') do
        = image_tag('photography/grammy2.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/lockhart1.jpg') do
        = image_tag('photography/lockhart1.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/portraitoman.jpg') do
        = image_tag('photography/portraitoman.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/lockhart2.jpg') do
        = image_tag('photography/lockhart2.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/lockhart3.jpg') do
        = image_tag('photography/lockhart3.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/lockhart4.jpg') do
        = image_tag('photography/lockhart4.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/portraitengland.jpg') do
        = image_tag('photography/portraitengland.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/structure2.jpg') do
        = image_tag('photography/structure2.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/lockhart6.jpg') do
        = image_tag('photography/lockhart6.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/lockhart7.jpg') do
        = image_tag('photography/lockhart7.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/portraitsudan.jpg') do
        = image_tag('photography/portraitsudan.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/shadow1.jpg') do
        = image_tag('photography/shadow1.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/portraitscotland.jpg') do
        = image_tag('photography/portraitscotland.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/structure5.jpg') do
        = image_tag('photography/structure5.jpg', class: 'image-thumbnail')
      = link_to image_path('photography/lockhart8.jpg') do
        = image_tag('photography/lockhart8.jpg', class: 'image-thumbnail')
