- provide(:title, "Books")
.headline-books
  .container
    .section-title
      .text-column
        .header Books
        .text
          Welcome to my books page! Here you can find most of the books I've read in the last couple years (the rest are on
          <a href="http://www.goodreads.com/annabelgray" target="_blank">goodreads</a>). I'm obviously not a book critic, so feel free
          to take my ratings with a grain of salt!


.container
  .row
    .year-buttons-container
      - @available_years.each do |year|
        - class_name = "books-year " + year
        - class_name += " active" if @current_year == year
        = link_to year, books_path(year: year), class: class_name
  .row.books-row
    - @books.each do |book|
      .books-column
        .book{ class: ("featured" if book['stars'] == 5)}
          = image_tag "books/#{book['slug']}.jpg"
          .book-rating
            - book['stars'].times do
              %span.star.star-full &#9733;
            - (5 - book['stars']).times do
              %span.star &#9733;
          .date= book['date']
          - if book['review']
            = link_to "Read review", book_path(book['slug'])
          - if book['link']
            = link_to book['link'], class: "shop-link", target: "_blank" do
              .glyphicon.glyphicon-share
