<!DOCTYPE html>
<html>
    <head>
        <title><%= full_title(yield(:title)) %></title>
        <meta content="<%= meta_description(yield(:description)) %>" name="description">
        <meta content="<%= meta_keywords(yield(:keywords)) %>" name="keywords">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
        <meta name="mobile-web-app-capable" content="yes">
        <meta property="og:title" content="Annabel Dunstone Gray" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Product designer" />
        <meta property="og:url" content="http://annabeldunstone.com/" />
        <meta property="og:image" content="<%= image_path 'site_preview.png' %>" />
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
        <%= csrf_meta_tags %>

        <%= favicon_link_tag %>
        <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path 'apple-touch-icon.png' %>">
    </head>
    <body>
        <div class="content">
            <%= render "partials/navbar" %>
            <div class="main-content">
                <%= yield %>
            </div>
        </div>
        <%= render "partials/footer" unless current_page?(root_url) %>
    </body>
</html>
